:root {
    --main-bg-color: lightblue;
}

@font-face {
    font-family: fa;
    src: url('../../fonts/font-awsome/fa-solid-900.ttf');
}

.fa::before {
    font-family: fa;
}

.fa.palette::before {
    content: "\f53f";
}

.fa.upload::before {
    content: "\f574";
}

.fa.plus::before {
    content: "\f067";
}

.fa.todo::before {
    content: "\f0ca";
}

.fa.txt::before {
    content: "\f4ad";
}

.fa.files::before {
    content: "\e494";
}

.fa.plusline::before {
    content: "\f0ae";
}

.fa.email::before {
    content: "\f0e0";
}