.note-preview {
    width: 100%;
    /* height: fit-content;
    object-fit: cover;
    cursor: pointer;
    border-radius: 1em;
    transition: all 2.4s;
    text-align: -webkit-center; */

}

.note-box {
    background-color: rgb(226, 226, 24);
    height: fit-content;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    border-radius: 1em;
    transition: transform 1.4s;
    text-align: -webkit-center;
    text-rendering: geometricPrecision;
    
}

.note-box .note-txt-title {
    background-color: inherit;
}

.note-box .note-txt-area {
    background-color: inherit;
}

.note-box:hover {
    background-color: rgb(216, 223, 229);
}

.to-do {
    text-align: center;
    margin: 20px;
}

.note-txt-area {
    margin: inherit;
    text-align: center;
    max-width: fit-content;    
    border: none;
    resize: none;
}

.note-txt-area:focus{
    outline: none;
}

.note-txt-area:hover{
    box-shadow:black;
}

.title {
    margin: inherit;
    text-align: center;
    margin-bottom:10px;
}

.note-txt-title {
    font-weight: bold;
    font-size: larger;
    text-align: center;
    resize: none;
    border: none;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.note-txt-title:focus {
    outline: none;
}

.img-container {
    margin: inherit;
    padding-bottom: 10px;
}

.bgColor {
    display: list-item;
}

.remove-button {
    border:none;
    background-color: inherit;
}

.audio-container {
width: 80%
}