.mail-filter{
    max-width: 60vw;
    /* float: right; */

    
}

.mail-list {
    padding: 2em;
    width: 70vw;
}

.side-bar{
    
    margin-top: 5em;
    background: #f2f6fc99;
    margin-top: 0;
    
}

.mail-app{
   
}